---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "技术栈从0到无穷，与学习，与生活。" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title} | L.D.J's Blog</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <slot name="header" />
    <main class="flex-1">
      <slot />
    </main>
    <slot name="footer" />
  </body>
</html>
